.files {
  width: 200px;
  height: 200px;
  background-color: #64748b;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.filesGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 30px;
  justify-content: center;
  margin-top: 60px;
}

.imageLink {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
